#LEDs
LED_CHARGING=n
LED_CHARGING_GPIO=
LED_ERROR=n
LED_ERROR_GPIO=
LED_WIFI=n
LED_WIFI_GPIO=

#Button
BUTTION_WIFI_GPIO=0

#Pilot  
PILOT_PWM_GPIO=5
PILOT_SENS_ADC_CHANNEL=0
PILOT_SENS_DOWN_TRESHOLD_12=2800
PILOT_SENS_DOWN_TRESHOLD_9=2400
PILOT_SENS_DOWN_TRESHOLD_6=2100
PILOT_SENS_DOWN_TRESHOLD_3=1600
PILOT_SENS_DOWN_TRESHOLD_N12=500

#Proximity
PROXIMITY_SENS=y
PROXIMITY_SENS_ADC_CHANNEL=3
PROXIMITY_SENS_DOWN_TRESHOLD_13=1650
PROXIMITY_SENS_DOWN_TRESHOLD_20=820
PROXIMITY_SENS_DOWN_TRESHOLD_32=430

#EVSE
MAX_CHARGING_CURRENT=16

#AC relay
AC_RELAY_GPIO=26

#Cable lock
CABLE_LOCK=n
CABLE_LOCK_A_GPIO=
CABLE_LOCK_B_GPIO=
CABLE_LOCK_TEST_GPIO=

#Energy meter (none | cur | cur_vlt)
ENERGY_METER=none
ENERGY_METER_THREE_PHASES=n

#Energy meter internal (ENERGY_METER=cur | cur_vlt)
ENERGY_METER_L1_CUR_ADC_CHANNEL=
ENERGY_METER_L2_CUR_ADC_CHANNEL=
ENERGY_METER_L3_CUR_ADC_CHANNEL=
ENERGY_METER_CUR_SCALE=

#Energy meter internal (ENERGY_METER=cur_vlt)
ENERGY_METER_L1_VLT_ADC_CHANNEL=
ENERGY_METER_L2_VLT_ADC_CHANNEL=
ENERGY_METER_L3_VLT_ADC_CHANNEL=
ENERGY_METER_VLT_SCALE=
