[submodule "components/api/lib/cAT"]
	path = components/api/lib/cAT
	url = https://github.com/marcinbor85/cAT
[submodule "components/script/lib/berry"]
	path = components/script/lib/berry
	url = https://github.com/berry-lang/berry
[submodule "components/script/lib/lua"]
	path = components/script/lib/lua
	url = https://github.com/lua/lua.git
