#
# Partition
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

#
# HTTP Server
#
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024

#
# LWIP
#
CONFIG_LWIP_LOCAL_HOSTNAME="evse"
CONFIG_LWIP_MAX_SOCKETS=16

#
# ESP System Settings
#
CONFIG_ESP_CONSOLE_NONE=y
CONFIG_ESP_CONSOLE_UART_NUM=-1

#
# Log format
#
CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM=y

#
# Kernel
#
CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=2
