menu "EVSE Configuration"
	
	config BOARD_CONFIG_DEPLOY
		bool "Deploy board config to SPI Nor Flash"
		default y
		help
			Deploy board config to SPI Nor Flash.
			Choose this in production mode or once to copy config.
                
	choice BOARD_CONFIG
		prompt "Board config file"
		default BOARD_CONFIG_ESP32DEVKITC
		help
			Board config file
            
		config BOARD_CONFIG_ESP32DEVKITC
			bool "esp32devkitc"
		config BOARD_CONFIG_ESP32S2DA
			bool "esp32s2da"
		config BOARD_CONFIG_CUSTON
			bool "custom"
	endchoice

	config BOARD_CONFIG
		string
		default "esp32devkitc" if BOARD_CONFIG_ESP32DEVKITC
		default "esp32s2da" if BOARD_CONFIG_ESP32S2DA
		default "custom" if BOARD_CONFIG_CUSTON

endmenu