menu "EVSE Configuration"
	
	config MDNS_HOST_NAME
        string "mDNS Host Name"
        default "evse"
        help
            Specify the domain name used in the mDNS service.
            Note that webpage also take it as a part of URL where it will send GET/POST requests to.

	config WEB_DEPLOY_SF
		bool "Deploy website to SPI Nor Flash"
		default y
		help
                Deploy website to SPI Nor Flash.
                Choose this in production mode or once to copy website.

	config CFG_DEPLOY_SF
		bool "Deploy board config to SPI Nor Flash"
		default y
		help
                Deploy board config to SPI Nor Flash.
                Choose this in production mode or once to copy config.

endmenu