annotated-types==0.7.0
bitarray==3.8.1
bitstring==4.4.0
cffi==2.0.0
click==8.3.2
cryptography==46.0.7
esp-bool-parser==0.2.3
esp_idf_panic_decoder==1.5.0
esptool==5.2.0
filelock==3.28.0
iniconfig==2.3.0
intelhex==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==26.1
pexpect==4.9.0
pluggy==1.6.0
ptyprocess==0.7.0
pycparser==3.0
pydantic==2.13.1
pydantic_core==2.46.1
pyelftools==0.32
Pygments==2.20.0
pyparsing==3.3.2
pyserial==3.5
pytest==9.0.3
pytest-embedded==2.7.0
pytest-embedded-idf==2.7.0
pytest-embedded-serial==2.7.0
pytest-embedded-serial-esp==2.7.0
pytest-embedded-wokwi==2.7.0
PyYAML==6.0.3
reedsolo==1.7.0
rich==15.0.0
rich-click==1.9.7
tibs==0.5.7
typing-inspection==0.4.2
typing_extensions==4.15.0
websockets==12.0
wokwi-client==0.4.0
