bitarray==3.0.1
bitstring==4.3.0
cffi==2.1.0
colorama==0.4.6
cryptography==47.1.2
ecdsa==0.19.2
esp-idf-panic-decoder==1.2.0
esptool==4.8.1
exceptiongroup==1.2.2
iniconfig==2.0.0
intelhex==2.3.0
packaging==24.5
pexpect==4.9.0
pluggy==1.5.0
ptyprocess==0.7.0
pycparser==2.22
pyelftools==0.31
pyserial==3.5
pytest==8.3.2
pytest-embedded==1.8.0
pytest-embedded-idf==1.8.0
pytest-embedded-serial==1.8.0
pytest-embedded-serial-esp==1.8.0
pytest-embedded-wokwi==1.8.0
PyYAML==6.0.2
reedsolo==1.7.0
six==1.16.0
toml==0.10.2
tomli==2.1.0