<header class="mat-elevation-z2">
    <mat-toolbar color="primary">
        <mat-icon svgIcon="electric-car"></mat-icon>
        <span class="ml-2">ESP32 EVSE</span>
    </mat-toolbar>
</header>
<main>
    <div class="loading-shade"
         [@fadeInOut]="loading$ | async">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="State">
            <div class="container py-2">
                <h2 class="mat-display-1">{{states[state.state]}}</h2>
                <div class="row">
                    <span class="col-3"></span>
                    <h4 class="mat-title col-3">L1</h4>
                    <h4 class="mat-title col-3">L2</h4>
                    <h4 class="mat-title col-3">L3</h4>
                </div>
                <div class="row">
                    <h3 class="mat-headline col-3">Charging voltage</h3>
                    <h4 class="mat-title col-3">{{state.l1Voltage}}V</h4>
                    <h4 class="mat-title col-3">{{state.l2Voltage}}V</h4>
                    <h4 class="mat-title col-3">{{state.l3Voltage}}V</h4>
                </div>
                <div class="row">
                    <h3 class="mat-headline col-3">Charging current</h3>
                    <h4 class="mat-title col-3">{{state.l1Current}}A</h4>
                    <h4 class="mat-title col-3">{{state.l2Current}}A</h4>
                    <h4 class="mat-title col-3">{{state.l3Current}}A</h4>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Settings">
            <ng-template matTabContent>
                <div class="container py-2">
                    <form #settingsForm="ngForm">
                        <h3>Charging</h3>
                        <div class="form-row">
                            <mat-form-field appearance="fill" class="col-12 col-md-3 col-sm-6">
                                <mat-label>Max charging current</mat-label>
                                <input matInput type="number"
                                       [(ngModel)]="settings.maxChargingCurrent" name="maxChargingCurrent">
                                <span matSuffix>A</span>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="col-12 col-md-3 col-sm-6">
                                <mat-label>Charging current</mat-label>
                                <input matInput type="number"
                                       [(ngModel)]="settings.chargingCurrent" name="chargingCurrent">
                                <span matSuffix>A</span>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="col-12 col-md-3 col-sm-6">
                                <mat-label>Cable lock</mat-label>
                                <mat-select [(ngModel)]="settings.cableLock" name="cableLock">
                                    <mat-option [value]="0">None</mat-option>
                                    <mat-option [value]="1">Motor</mat-option>
                                    <mat-option [value]="2">Selenoid</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <h3>WiFi</h3>
                        <div class="form-row">
                            <div class="col-12 col-md-3 col-sm-6">
                                <mat-checkbox [(ngModel)]="settings.wifiEnabled"
                                              (change)="wifiDirty = true"
                                              name="wifiEnabled">
                                    WiFi enabled
                                </mat-checkbox>
                            </div>
                            <mat-form-field appearance="fill" class="col-12 col-md-3 col-sm-6">
                                <mat-label>WiFi SSID</mat-label>
                                <input matInput type="text"
                                       [disabled]="!settings.wifiEnabled"
                                       (change)="wifiDirty = true"
                                       [(ngModel)]="settings.wifiSSID" name="wifiSSID">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="col-12 col-md-3 col-sm-6">
                                <mat-label>WiFi password</mat-label>

                                <input matInput type="password"
                                       [disabled]="!settings.wifiEnabled"
                                       (change)="wifiDirty = true"
                                       placeholder="If empty, unchanged"
                                       [(ngModel)]="settings.wifiPassword" name="wifiPassword">
                            </mat-form-field>
                        </div>
                        <div class="d-flex flex-column flex-sm-row mx-n1">
                            <button mat-raised-button color="primary" (click)="submitSettings()" class="m-1">SUBMIT
                            </button>
                            <button mat-raised-button color="warn" (click)="resetSettings()" class="m-1">RESET</button>
                            <button mat-raised-button color="warn" (click)="restart()" class="m-1">RESTART</button>
                        </div>
                    </form>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="System info">
            <div class="container py-2">
                <table>
                    <tr>
                        <td>Uptime</td>
                        <td>{{ info.uptime | date:'HH:mm:ss':'UTC'}}</td>
                    </tr>
                    <tr>
                        <td>IDF version</td>
                        <td>{{info.idfVersion}}</td>
                    </tr>
                    <tr>
                        <td>Chip</td>
                        <td>{{info.chip}}</td>
                    </tr>
                    <tr>
                        <td>Chip cores</td>
                        <td>{{info.chipCores}}</td>
                    </tr>
                    <tr>
                        <td>Chip revision</td>
                        <td>{{info.chipRevision}}</td>
                    </tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</main>

<ng-template #restartRequiredDialog>
    <h2 matDialogTitle>Restart required</h2>
    <mat-dialog-content>
        <div>Your settings require restart of EVSE controller.</div>
        <div>Restart now?</div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button color="primary" mat-dialog-close>CANCEL</button>
        <button mat-button color="warn" mat-dialog-close (click)="restart()">RESTART</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #reloadDialog>
    <h2 matDialogTitle>Reload</h2>
    <mat-dialog-content>
        <div>Reload in {{restartCountDown$  | async}} secods</div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button color="warn" (click)="reload()">REALOAD NOW</button>
    </mat-dialog-actions>
</ng-template>
