<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>EVSE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bootstrap.min.css">
    <style rel="stylesheet">
        body {
            padding-top: 56px;
        }

        .overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #ffffff;
            opacity: 0.75;
            z-index: 10;
        }

        .overlay:not(.show) {
            visibility: hidden;
        }

        .overlay .spinner-border {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -1rem;
            margin-top: -1rem;
        }
    </style>

    <script src="/bootstrap.bundle.min.js"></script>
    <script>
        function showError(response) {
            if (response.status === 400 || response.status === 500) {
                response.text().then(text => document.getElementById('errorText').innerText = text);
                new bootstrap.Toast('#errorToast').show();
            } else {
                new bootstrap.Toast('#networkErrorToast').show();
            }
        }

        function submitCredentials() {
            document.getElementById('loading').classList.add('show');

            document.getElementById('user').value

            const credentials = {
                user: document.getElementById('user').value,
                password: document.getElementById('password').value
            };

            fetch('/api/v1/credentials', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(credentials)
            })
                .then(response => {
                    if (!response.ok) {
                        throw response;
                    }
                    return response.text();
                })
                .then(text => new bootstrap.Toast('#updatedToast').show())
                .finally(() => document.getElementById('loading').classList.remove('show'))
                .catch(showError);
        }
    </script>
</head>

<body class="d-flex flex-column h-100">

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <div class="d-lg-none" style="width: 56px;"></div>
                <a class="navbar-brand" href="/">EVSE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-three-dots" viewBox="0 0 16 16">
                        <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                    </svg>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/settings.html">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/management.html">Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about.html">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0 position-relative py-3">
        <div id="loading" class="overlay fade text-center">
            <div class="spinner-border" role="status"></div>
        </div>
        <div class="container">
            <div id="alert"></div>
            <h5>REST/Web user and password</h5>
            <form id="form">
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-4 mb-3">
                        <label for="user" class="form-label">User</label>
                        <input id="user" type="text" class="form-control">
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary" onclick="submitCredentials()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">ESP32 electric vehicle supply equipment</span>
        </div>
    </footer>

    <div class="toast-container position-fixed p-3 end-0">
        <div id="updatedToast" class="toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-bg-success rounded border-0">
                <span class="me-auto">Successfully updated</span>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>

        <div id="errorToast" class="toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-bg-danger rounded border-0">
                <span class="me-auto" id="errorText"></span>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>

        <div id="networkErrorToast" class="toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-bg-danger">
                <span class="me-auto">Network error</span>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="toast"
                    onclick="window.location.reload()">Reload
                    page</button>
            </div>
        </div>
    </div>
</body>

</html>