@import "~bootstrap/scss/bootstrap-grid";

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$form-grid-gutter-width / 2;
  margin-left: -$form-grid-gutter-width / 2;

  > .col,
  > [class*="col-"] {
    padding-right: $form-grid-gutter-width / 2;
    padding-left: $form-grid-gutter-width / 2;
  }
}

.loading,
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.loading-shade {
  background: rgba(#fdfdfd, 0.8);
}
